body {
    padding-top: 56px;
    background-color: #87d2d3;
}

nav {
    background-color: #363636;
}

.navbar-icon {
    border: 1px solid #ffffff;
    border-radius: 50%;
}

.navbar-brand,
.navbar-brand:hover {
    color: #ffffff;
    text-decoration: none;
    font-family: "Grandstander", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.navbar-toggler {
    border-color: #ffffff;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#navbar-collapse-section {
    color: #ffffff;
}

.nav-profile-link {
    color: #ffffff;
}

#search-bar {
    border-radius: 4px;
    /* Adjust the value for desired roundness */
    border-color: initial;
}

.form-control#search-bar:focus {
    outline: none !important;
    /* Remove the default outline */
    box-shadow: none !important;
    /* Remove any box shadow if present */
}

#search-bar.clear-visible {
    border-top-right-radius: 0;
    /* Remove the top-right corner */
    border-bottom-right-radius: 0;
    /* Remove the bottom-right corner */
    border-right: none;
}

#clear-button {
    display: none;
    background-color: white;
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#clear-button:hover, #clear-button:active, #clear-button:focus-visible {
    color: currentColor;
}

.ingredients-dropdown-list {
    max-height: 200px;
    overflow-y: auto;
    padding-bottom: 0px;
}

.clear-filter-button-and-divider {
    display: none;
    position: sticky;
    bottom: 0;
    background: white;
    z-index: 1;
    text-align: center;
    padding-bottom: 8px;
}

#results .drink {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.card {
    border-radius: 0%;
    border: 0;
}

.card-img-top {
    border-radius: 0%;
}

.card {
    opacity: 1;
    transition: opacity 0.3s;
}

#drinks .card:hover {
    opacity: 0.9;
}

.no-match-text-container {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-match-text {
    color: #ffffff;
    text-align: center;
}

footer {
    background-color: #363636;
}

.footer-icon {
    border: 1px solid #ffffff;
    border-radius: 50%;
}

.footer-text {
    color: #ffffff;
}

.nav-link,
.nav-link:hover {
    color: #363636;
    text-decoration: none;
}

.svg-icon-link {
    text-decoration: none;
    padding-right: 10px;
}

.svg-icon-link:hover .svg-icon {
    transform: scale(1.2);
}

.svg-icon-link-dark {
    color: #363636;
}

.svg-icon-link-light {
    color: #ffffff;
}

.svg-icon {
    transition: all 0.3s;
}

.similar-drinks-heading {
    color: #363636;
    font-size: 20px;
}

#filter-button {
    background-color: #363636;
    color: #ffffff;
}

#sort-button {
    background-color: #363636;
    color: #ffffff;
}

.hidden {
    display: none;
}