body {
    background-color: #ffffff;
}

nav {
    background-color: #37B5B6;
}

.navbar-icon {
    border: 1px solid #ffffff;
    border-radius: 50%;
}

.navbar-brand, .navbar-brand:hover {
    color: #ffffff;
    text-decoration: none;
    font-family: "Grandstander", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
  

nav .collapse {
    color: #363636;
}

.search_bar {
    background-color: #363636;
}

.card {
    transition: all 0.3s;
}

.card-img-top {
    border-radius: 1%;
}

#drinks .card:hover {
    transform: scale(1.03);
}

footer {
    background-color: #37B5B6;
}

.footer-icon {
    border: 1px solid #ffffff;
    border-radius: 50%;
}

.footer-text {
    color: #ffffff;
}

.nav-link, .nav-link:hover {
    color: black;
    text-decoration: none;
}

.spotify-icon-link {
    color: black;
    text-decoration: none;
    padding-right: 10px;
}

.apple-podcasts-icon-link {
    color: black;
    text-decoration: none;
    padding-right: 10px;
}

.youtube-icon-link {
    color: black;
    text-decoration: none;
    padding-right: 10px;
}

.instagram-icon-link {
    color: black;
    text-decoration: none;
    padding-right: 10px;
}

.x-icon-link {
    color: black;
    text-decoration: none;
}