{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#363636" />
    <title>{% block title %}Sloppy Drinks{% endblock title %}</title>
    <link rel="icon" type="image/x-icon"
        href="{% static 'drinks/images/the-sloppy-boys-podcast-glass-logo-circle.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'drinks/css/styles.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
</head>

<body class="d-flex flex-column h-100">
    <nav class="navbar navbar-dark shadow-sm fixed-top">
        <div class="container-fluid">
            <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none me-2 lh-1">
                <img class="navbar-icon me-2"
                    src="{% static 'drinks/images/the-sloppy-boys-podcast-glass-logo-square.jpeg' %}" width="40"
                    height="40">
                <span class="navbar-brand fs-3">SLOPPY DRINKS</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbar-collapse-section" aria-controls="navbar-collapse-section" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 py-2">
                        <h4 class="nav-profile-heading">Hi, {{ user.first_name|default:"Guest" }}!</h4>
                        {% if user.is_authenticated %}
                            <div>
                                <a class="nav-profile-link text-decoration-none" href="{% url 'password_change' %}">Reset Password</a>
                            </div>
                            {% include "registration/_logout.html" %}
                        {% else %}
                            <a class="nav-profile-link text-decoration-none" href="{% url 'login' %}">Login</a> / <a href="{% url 'sign_up' %}" class="nav-profile-link text-decoration-none">Register</a>
                        {% endif %}
                    </div>
                    <div class="col-md-4 py-2">
                        <h4 class="nav-about-heading">About</h4>
                        <p class="nav-about-text">"The website that takes a deep dive into the podcast that takes a deep
                            dive into the drinks that you love." Sloppy Drinks is a catalog of all the cocktail recipes
                            covered on The Sloppy Boys podcast. Listen here:
                        </p>
                        <a class="svg-icon-link svg-icon-link-light"
                            href="https://open.spotify.com/show/3qFjDCQ16YrjFw5ufNpV3c" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                class="bi bi-spotify svg-icon" viewBox="0 0 16 16">
                                <path
                                    d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.669 11.538a.5.5 0 0 1-.686.165c-1.879-1.147-4.243-1.407-7.028-.77a.499.499 0 0 1-.222-.973c3.048-.696 5.662-.397 7.77.892a.5.5 0 0 1 .166.686m.979-2.178a.624.624 0 0 1-.858.205c-2.15-1.321-5.428-1.704-7.972-.932a.625.625 0 0 1-.362-1.194c2.905-.881 6.517-.454 8.986 1.063a.624.624 0 0 1 .206.858m.084-2.268C10.154 5.56 5.9 5.419 3.438 6.166a.748.748 0 1 1-.434-1.432c2.825-.857 7.523-.692 10.492 1.07a.747.747 0 1 1-.764 1.288" />
                            </svg>
                        </a>
                        <a class="svg-icon-link svg-icon-link-light"
                            href="https://podcasts.apple.com/us/podcast/the-sloppy-boys/id1537187838" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                class="bi bi-broadcast-pin svg-icon" viewBox="0 0 16 16">
                                <path
                                    d="M3.05 3.05a7 7 0 0 0 0 9.9.5.5 0 0 1-.707.707 8 8 0 0 1 0-11.314.5.5 0 0 1 .707.707m2.122 2.122a4 4 0 0 0 0 5.656.5.5 0 1 1-.708.708 5 5 0 0 1 0-7.072.5.5 0 0 1 .708.708m5.656-.708a.5.5 0 0 1 .708 0 5 5 0 0 1 0 7.072.5.5 0 1 1-.708-.708 4 4 0 0 0 0-5.656.5.5 0 0 1 0-.708m2.122-2.12a.5.5 0 0 1 .707 0 8 8 0 0 1 0 11.313.5.5 0 0 1-.707-.707 7 7 0 0 0 0-9.9.5.5 0 0 1 0-.707zM6 8a2 2 0 1 1 2.5 1.937V15.5a.5.5 0 0 1-1 0V9.937A2 2 0 0 1 6 8" />
                            </svg>
                        </a>
                        <a class="svg-icon-link svg-icon-link-light" href="http://www.youtube.com/@TheSloppyBoys"
                            target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                class="bi bi-youtube svg-icon" viewBox="0 0 16 16">
                                <path
                                    d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.01 2.01 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.01 2.01 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31 31 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.01 2.01 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A100 100 0 0 1 7.858 2zM6.4 5.209v4.818l4.157-2.408z" />
                            </svg>
                        </a>
                    </div>
                    <div class="col-md-4 py-2">
                        <h4 class="nav-contact-heading">Contact</h4>
                        <p>Sloppy Drinks was created by Emmett Rogers.</p>
                        <a class="svg-icon-link svg-icon-link-light" href="mailto:emmett@sloppydrinks.com"
                            target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                class="bi bi-envelope-fill svg-icon" viewBox="0 0 16 16">
                                <path
                                    d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z" />
                            </svg>
                        </a>
                        <a class="svg-icon-link svg-icon-link-light" href="https://www.linkedin.com/in/emmett-rogers/"
                            target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                class="bi bi-linkedin svg-icon" viewBox="0 0 16 16">
                                <path
                                    d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main>
        {% block page_content %}{% endblock page_content %}
    </main>
    <footer class="mt-auto py-3">
        <div class="container d-flex flex-wrap justify-content-between align-items-center">
            <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none me-2 lh-1">
                <img class="footer-icon me-2"
                    src="{% static 'drinks/images/the-sloppy-boys-podcast-glass-logo-square.jpeg' %}" width="20"
                    height="20">
                <span class="footer-text">Sloppy Drinks</span>
            </a>
            <span class="footer-text">©
                <script type="text/JavaScript">document.write(new Date().getFullYear());</script> Emmett Rogers
            </span>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="{% static 'drinks/javascript/index.js' %}"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K5VR014B9N"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-K5VR014B9N');
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const carousel = document.querySelector('#carouselExampleIndicators');
            const imageSourceText = document.getElementById('image-source-text');

            const updateImageSource = () => {
                const activeItem = carousel.querySelector('.carousel-item.active');
                const imageSourceName = activeItem.getAttribute('image-source-name') || 'Unknown';
                const imageSourceUrl = activeItem.getAttribute('image-source-url') || 'Unknown';
                // Create the HTML structure
                // Create the HTML structure
                let htmlContent;
                if (imageSourceUrl) {
                    // If there is a URL, make the imageSourceName a link
                    htmlContent = `Image by <a class="image-source-link" href="${imageSourceUrl}" target="_blank">${imageSourceName}</a>`;
                } else {
                    // If there is no URL, just display the name
                    htmlContent = `Image by ${imageSourceName}`;
                }
                imageSourceText.innerHTML = htmlContent; // Use innerHTML to set the HTML content
            };

            updateImageSource();

            carousel.addEventListener('slid.bs.carousel', function () {
                updateImageSource();
            });
        });
    </script>
</body>

</html>